.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.selectContainer {
  backdrop-filter: blur(2px);
  background-color: rgb(34, 40, 49, 0.75);
  border-radius: 50px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  padding: 1em;
}

.filterLabel,
.orderLabel {
  color: white;
  margin: 0 1em;
}

.select {
  background-color: #eeeeee;
  border-radius: 50px;
  cursor: pointer;
  height: 2em;
  margin-right: 1em;
  padding: 0 10px;
}

.resetButton {
  background-color: #eeeeee;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
  height: 2em;
  margin: 0 10px;
  margin-right: 1em;
  width: 8em;
}

.resetButton:hover {
  background-color: #e2e2e2;
}

.cardsContainer {
  backdrop-filter: blur(2px);
  background-color: rgb(34, 40, 49, 0.75);
  border-radius: 50px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3em;
  padding: 2em;
}

.textContainer {
  align-items: center;
  background-color: rgb(34, 40, 49, 0.75);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin-top: 3.5em;
  width: 28em;
}

.text1 {
  color: white;
  font-size: 3.5rem;
  margin-top: 3rem;
}

.text2 {
  color: #e2e2e2;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}
