.form {
  background-color: rgb(34, 40, 49, 0.75);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  padding: 2em;
}

.usernameContainer {
  padding: 1em;
}

.passwordContainer {
  padding: 1em;
}

.label {
  color: white;
  font-weight: bold;
  padding-right: 1em;
}

.input {
  border: 0px;
  border-radius: 50px;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 20em;
}

.loginButtonContainer {
  display: flex;
  justify-content: center;
}

.loginButton {
  background-color: #eeeeee;
  border: 0px;
  border-radius: 50px;
  color: #222831;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 3em;
  margin-top: 1em;
  width: 5em;
}

.loginButton:hover {
  background-color: #e2e2e2;
  font-weight: bold;
}

.errorContainer {
  margin-top: 1em;
  width: 25em;
}

.success {
  color: green;
}

.error {
  color: red;
  white-space: pre-line;
}
