.container {
  align-items: center;
  background-color: rgb(34, 40, 49, 0.75);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin-top: 6em;
  width: 28em;
}

.error {
  color: white;
  font-size: 4rem;
}

.msg {
  color: #e2e2e2;
  font-size: 2rem;
  margin-top: 2rem;
}
