.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.cardsContainer {
  backdrop-filter: blur(2px);
  background-color: rgb(34, 40, 49, 0.75);
  border-radius: 50px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3em;
  padding: 2em;
}

.clearAllContainer {
  margin-bottom: 20px;
  margin-top: 20px;
}

.clearAllButton {
  background-color: #eeeeee;
  border: 0px;
  border-radius: 50px;
  color: #848484;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  width: 100px;
}

.clearAllButton:hover {
  background-color: #e2e2e2;
  color: red;
  font-weight: bold;
}

.banner {
  align-items: center;
  background-image: url(../../img/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  justify-content: center;
  padding: 2em;
  position: fixed;
  top: 175px;
  width: 75%;
}

@media screen and (max-width: 768px) {
  .banner {
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
  }
}
