.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 28em;
  background-color: rgb(34, 40, 49, 0.75);
  border-radius: 50px;
  margin-top: 6em;
}

.text1 {
  font-size: 4rem;
  color: white;
}

.text2 {
  font-size: 2rem;
  color: #e2e2e2;
  margin-top: 2rem;
}
