.container {
  align-items: center;
  background-color: rgb(34, 40, 49, 0.75);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin-top: 6em;
  width: 28em;
}

.text1 {
  color: white;
  font-size: 3.5rem;
  margin-top: 3rem;
}

.text2 {
  color: #e2e2e2;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
