.cardContainer {
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin: 18px;
  padding: 1em;
  transition: transform 0.2s ease-in-out;
  width: fit-content;
}

.cardContainer:hover {
  transform: scale(1.02);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.favButton {
  align-items: center;
  background-color: white;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  font-size: 1.25em;
  height: 1.5em;
  justify-content: center;
  margin-left: 5px;
  margin-right: auto;
  width: 1.5em;
}

.closeButton {
  background-color: white;
  background-image: url(../../img/close-button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
  height: 1.5em;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 0.5em;
  transform: scale(1.25);
  width: 1.5em;
}

.favButton:hover,
.closeButton:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  margin-bottom: -0.5em;
  position: relative;
}

.image {
  border-radius: 50px;
  height: auto;
  max-width: 100%;
}

.id {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  color: rgba(255, 255, 255, 1);
  font-size: large;
  font-weight: bold;
  left: 50%;
  margin: 0;
  padding: 0.5em;
  position: absolute;
  text-align: center;
  top: 0.75em;
  transform: translateX(-50%);
}

.name {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  bottom: 0.75em;
  color: rgba(255, 255, 255, 1);
  font-size: large;
  font-weight: bold;
  left: 50%;
  margin: 0;
  padding: 0.5em;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}

.name:hover {
  background-color: rgba(54, 62, 76, 0.75);
  border-color: rgb(54, 62, 76, 0.75);
  border-style: solid;
  border-width: 1px;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: -1em;
}

.gender,
.species {
  color: black;
  font-size: large;
}
