.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.searchInput {
  background-color: #eeeeee;
  border: 0px;
  border-radius: 15px 15px 15px 15px;
  width: 20em;
  height: 2.25em;
  cursor: text;
  padding: 0 10px;
}

.searchButton,
.randomButton {
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 15px 15px 15px 15px;
  width: 2.25em;
  height: 2.25em;
  cursor: pointer;
  margin-left: 1em;
}

.searchButton:hover,
.randomButton:hover {
  border: 1px solid #e2e2e2;
  color: black;
}

.searchButton {
  background-image: url(../../img/search-button.jpeg);
  background-size: contain;
}

.randomButton {
  background-image: url(../../img/random-button.png);
  background-size: 75%;
}
