.background {
  background-attachment: fixed;
  background-image: url(./img/background.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

.app {
  align-items: center;
  display: flex;
  justify-content: center;
}
