.app {
  display: flex;
  flex-direction: column;
  background-image: url(./img/background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 100vh;
}

.nav {
  background-color: #003171;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  /* height: calc(100vh - 5em); */
}
