.container {
  align-items: center;
  background-color: #222831;
  display: flex;
  flex-direction: row;
  height: 3.25em;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 1em;
  position: absolute;
  right: 0;
}

.link {
  color: white;
  margin: 0 20px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.searchContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: fit-content;
    padding-top: 1em;
  }

  .linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    width: 100%;
  }

  .searchContainer {
    width: 100%;
  }
}
